body {
  background-color: #1f1f1f; 
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  color: white; 
  padding-top: 50px;
}

.container h1 {
  font-size: 37px;
}

.container p {
  font-size: 21px;
}
